.detail__wrapper{
    margin: 0 auto;
    text-align: center;
}

.detail__title {
    color: white;
}

.detail__img{
    width: 400px;
    height: 400px;
    padding-bottom: 20px;
}

.detail__button {
 color: white;
 font-size: 30px;
 text-decoration: none;
}
a{
    text-decoration: none;
}